@import 'src/styles';

.control {
    display: flex;  
    align-items: center;  
    border: none;
    cursor: pointer;
    &.ui{
        height: 57px;
        background-color: $color-input-transparent;
        border-radius: 4px;
    }
}

.value {
    display: flex;
    align-items: center;
    color: $color-text;
}

.container {
    display: flex;
    width: 100%;
}

.menu {
    background-color: $color-ui-bg-transparent;
}

.option {
    color: $color-text!important;
    &.selected {
        background-color: $color-main;
    }
    &:active {
        background-color: $color-main-active!important;
    }
    &:hover {
        background-color: $color-secondary;
    }
}