@import 'src/styles';
@import 'react-datepicker/dist/react-datepicker';

.main {
  position: relative;
}

.absolute {
  position: absolute;
}

.clickable {
  cursor: pointer;
}

.background {
  background-color: $color-bg-main;
}
