$color-black: #000;

$color-bg-main: #232323;
$color-bg-secondary: #555;

$color-ui-transparent: rgba(#606060, 0.6);
$color-ui-transparent-hover: rgba(#606060, 0.8);
$color-ui-transparent-active: rgba(#606060, 1);

$color-input-transparent: rgba(#323232, 0.8);
$color-input-transparent-hover: rgba(#323232, 0.9);
$color-input-transparent-active: rgba(#323232, 1);

$color-main: #F65261;
$color-main-hover: #ff6c78;
$color-main-active: #fc7e88;

$color-text: #fff;