@import 'src/styles';

.header {
    width: 100%;
    color: $color-text;
    display: flex;
    justify-content: space-between;
    padding-left: $side-margin;
    padding-right: $side-margin;
    padding-top: 20px;
    box-sizing: border-box;
    z-index: 1;
}